h1 {
    text-align: center;
    font-family: "Book Antiqua";
}

.projectstable {
    margin: auto;
    width: 800px;
    height: 70px;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    font-family: Arial;
}

.searchProject {
    margin: auto;
    text-align: center;
}



div {
    margin-bottom:10px;
    border:5px;
    padding:0;
}
